<div style="margin-top: -105px">
    <div class="row justify-content-md-center align-content-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h3><i class="bi bi-hdd-rack-fill"></i>Backend</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>ASP.NET MVC y Php</p>
        </div>
        <div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <h3><i class="bi bi-file-earmark-code"></i>Frontend</h3>
            <p>
                Puedo crear frontend robustos los cuales cumplen con los requerimientos del negocio.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>Blazor y JavaScript</p>
        </div>
    </div>
</div>