<div class="text-center">
    <h1 class="display-4">Mi nombre es Ramses Ramirez Vallejo</h1>
    <h2>Soy un desarrollador fullstack especializado en tecnologias .NET y Javascript</h2>
    <img src="~/img/me.jpg" alt="Ramses Ramirez Vallejo" class="m-2" id="me" />
</div>
<div class="text-center">
    <img src="~/img/logo.png" alt="Visual studio" id="logo-img" />
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 text-white welcome">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer non neque vel ligula pretium vehicula. Fusce lobortis
            ligula est, nec egestas sem condimentum ultricies. Ut dignissim
            ante condimentum, maximus nisl sed, volutpat tortor. Sed ac leo
            nec mi tempus fringilla. Aenean in tortor semper, cursus nunc in,
            condimentum leo.
        </p>
    </div>
</div>